section.red.background {
    background-color: red;
}

.reveal section.divide {
    background-size: 50% 50%;
    background-position: left;
    background-repeat: no-repeat;
}

.reveal .left {
    position: fixed;
    font-size: x-large;
    top: 20%;
    left: 10%;
}
  
.reveal .right {
    position: fixed;
    font-size: x-large;
    top: 20%;
    right: 10%;
}

.reveal .left-large {
    position: fixed;
    font-size: xx-large;
    top: 20%;
    left: 10%;
    word-wrap: break-word;
}
  
.reveal .right-large {
    position: fixed;
    font-size: xx-large;
    top: 20%;
    right: 10%;
    word-wrap: break-word;  
}